body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  font: 13px Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.card {
  width: 290px;
  margin: auto;
  text-align: center;
  z-index: 100;
}
h1 {
  text-transform: uppercase;
  font-size: 18px;
}
a:visited {
  color: blue;
}
